name: SSH to Ubuntu Server

on:
  workflow_dispatch:

jobs:
  ssh:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: SSH Command
        run: |
          ssh -p ${{ secrets.SERVER_PORT }} \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} \
          "whoami && uname -a && uptime"
