name: Ultimate 2026 VPN (Docker Version)
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v3
        with:
          authkey: ${{ secrets.TAILSCALE_AUTH_KEY }}
          hostname: gha-vpn-server

      - name: Enable BBR Speed Booster
        run: |
          # فعال‌سازی BBR برای افزایش سرعت دانلود و پایداری در شبکه‌های ضعیف
          echo "net.core.default_qdisc=fq" | sudo tee -a /etc/sysctl.conf
          echo "net.ipv4.tcp_congestion_control=bbr" | sudo tee -a /etc/sysctl.conf
          sudo sysctl -p

      - name: Install 3x-ui Panel via Docker
        run: |
          # اجرای پنل در داکر برای جلوگیری از تداخل با سیستم مدیریت سرویس گیت‌هاب
          sudo docker run -d --name 3x-ui --network=host \
            -e XRAY_VMESS_AEAD_FORCED=false \
            -e XUI_USERNAME=admin \
            -e XUI_PASSWORD=13691369 \
            -e XUI_PORT=2053 \
            ghcr.io/mhsanaei/3x-ui:latest

      - name: Get Connection Info
        run: |
          TS_IP=$(tailscale ip -4)
          echo "===================================================="
          echo "Server Started Successfully!"
          echo "Panel IP: $TS_IP"
          echo "Panel URL: http://$TS_IP:2053"
          echo "Username: admin"
          echo "Password: admin_pass_2026"
          echo "===================================================="

      - name: Keep Server Alive
        run: sleep 6h # Runner فعال می‌ماند
